@import "~materialize-css/sass/components/color-variables";

// Colors
$primary-color: #546E7A;
$secondary-color: #ffee58;
$text-color: #eee; 
$button-color: #232327;

// Buttons
$button-raised-color: $button-color !default;
$button-floating-color: $button-color !default;
$button-flat-color: $secondary-color !default;

.btn.btn-flat:hover {
    background-color: $primary-color !important;
}

$dropdown-bg-color: #37474F !default;
$dropdown-hover-bg-color: darken($dropdown-bg-color, 10%) !default;
$dropdown-color: $text-color !default;

// Card stles
$card-bg-color: #37474F !default;

// Nav 
nav.breadcrumb {
    background-color: darken($primary-color, 10%) !important;
    border-radius: 4px;
    width: auto;
    margin: 10px 0.75rem 0 0.75rem;
}

// Collections
$collection-bg-color: $button-color !default;
$collection-border-color: transparent !default;

// Collapsible
$collapsible-header-color: $card-bg-color !default;
$collapsible-border-color: transparent !default;