// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

// Variables
@import 'variables';

// Shortcuts
@import './shortcuts.scss';

// Bootstrap
@import '~materialize-css/sass/materialize';


body, html {
    background-color: #223344 !important;
    color: $text-color;
}

div.divider {
    background-color: rgba(160, 160, 160, 1);
}

// Input / Form-fields
input {
    color: white;
}
[type=checkbox].filled-in:checked + span:not(.lever):before {
    border-bottom-color: #232327 !important;
    border-right-color: #232327 !important;
}

// Navbar
nav {
    padding-left: 10px;
    padding-right: 10px;
}
nav ul a {
    color: $text-color !important;
    font-size: 1.2rem !important;
}
.brand-logo {
    color: $text-color !important;
}

// Pre Element
pre {
    background-color: $button-color;
    padding: 5px;
    overflow-x: scroll;
}